<a href="https://colab.research.google.com/github/gbam-ds/Mono/blob/main/TestEduc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

#train dataset
path = '/content/drive/MyDrive/testmediaeduc.xlsx'
df = pd.read_excel(path)
df.head()

,Unidade Federativa,Sexo,Cor ou raça,Faixa etária,Número médio de anos de estudo,População estimada
0,Acre,Total,Total,15 a 24 anos,10.0,175669.0
1,Acre,Total,Total,25 a 39 anos,10.2,206637.0
2,Acre,Total,Total,40 a 59 anos,7.7,160387.0
3,Acre,Total,Total,60 anos ou mais,4.7,65464.0
4,Acre,Total,Branca,15 a 24 anos,10.5,NaN

In [2]:
x = df['Sexo', 'Cor ou raça', 'Faixa etária', 'População estimada']
y = df['Número médio de anos de estudo']

KeyError: ignored

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
model = LinearRegression()